.card-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  transition: all ease 0.5s;
  top: 0;
  box-shadow: -5px 5px 5px #31d19c;
}

.card-container:hover {
  top: -10px;
  box-shadow: -15px 15px 5px #31d19c;
}

.trash-can-container {
  border: 0px;
  height: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.trash-can-container:hover {
  background-color: none;
  background: none;
}

.trash-can-image {
  border: 2px white;
  height: 35px;
  width: 35px;
  padding: 5px;
  margin: 0;
}

h2 {
  margin: 0;
}

.trash-can-image:hover {
  background: #31d19c;
  border-radius: 5px;
}
